:root {
  /* Blue */
  --clr-primary-400: hsl(228, 39%, 23%);

  /* Oragne */
  --clr-accent-100: hsl(13, 100%, 96%);
  --clr-accent-300: hsl(12, 88%, 75%);
  --clr-accent-400: hsl(12, 88%, 59%);

  /* black */
  --clr-nuetral-100: hsl(0, 0%, 100%);
  --clr-nuetral-125: hsl(0deg 0% 98.04%);
  --clr-nuetral-150: hsl(204, 8%, 76%);
  --clr-nuetral-200: hsl(227, 12%, 61%);
  --clr-nuetral-900: hsl(232, 12%, 13%);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-accent: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  /* sizes for spacing */
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-450: 1.25rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-925: 6rem;
  --size-950: 8rem;
  --size-1000: 10rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.margin-top-1000 {
  margin-top: var(--size-1000);
}

@media (max-width: 50em) {
  .padding-inline-400-sm-only {
    padding-inline: var(--size-400);
  }
}

.margin-block-auto {
  margin-block: auto;
}

.ml-auto-lg-only {
  margin-left: auto;
}

@media (max-width: 50em) {
  .ml-auto-lg-only {
    margin-left: 0;
  }
}

@media (min-width: 50em) {
  .text-width-small-sm-only {
    width: 38ch;
  }
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }
}

.m-inline-auto {
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-size, 2rem);
}

@media (max-width: 50em) {
  .flow > * + * {
    --flow-size: var(--size-400);
  }
}

.flow-200 > * + * {
  --flow-size: var(--size-200);
}

.flow-300 > * + * {
  --flow-size: var(--size-300);
}

.flow-500 > * + * {
  --flow-size: var(--size-500);
}

.flow-700 > * + * {
  --flow-size: var(--size-700);
}

.flow-900 > * + * {
  --flow-size: var(--size-900);
}

@media (max-width: 50em) {
}

@media (max-width: 50em) {
  .flow-size-400-sm-only > * + * {
    --flow-size: var(--size-400);
  }
  .flow-size-300-sm-only > * + * {
    --flow-size: var(--size-300);
  }
  .flow-size-200-sm-only > * + * {
    --flow-size: var(--size-200);
  }
  .flow-700-sm-only > * + * {
    --flow-size: var(--size-700);
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-nuetral-100 {
  color: var(--clr-nuetral-100);
}

.text-nuetral-900 {
  color: var(--clr-nuetral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-nuetral-100 {
  background-color: var(--clr-nuetral-100);
}

.bg-nuetral-900 {
  background-color: var(--clr-nuetral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.padding-block-200 {
  padding-block: var(--size-200);
}
.padding-block-300 {
  padding-block: var(--size-300);
}
.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-600 {
  padding-block: var(--size-600);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-800 {
  padding-block: var(--size-800);
}
.padding-block-900 {
  padding-block: var(--size-900);
}

.margin-top-950 {
  margin-top: var(--size-925);
}

@media (max-width: 50em) {
  .margin-top-900-sm-only {
    margin-top: var(--size-900);
  }
}

@media(max-width:50em){
  .margin-top-700-sm-only {
    margin-top: var(--size-700)
  }
}



.padding-bottom-500 {
  padding-bottom: var(--size-500);
}

.padding-bottom-700 {
  padding-bottom: var(--size-700);
}

.margin-bottom-1000 {
  margin-bottom: var(--size-1000);
}

@media (min-width: 50em) {
  .margin-bottom-1000-lg-only {
    margin-bottom: var(--size-1000);
  }
}

@media (max-width: 50em) {
  .margin-bottom-300-sm-only {
    margin-bottom: var(--size-300);
  }
  .margin-bottom-500-sm-only {
    margin-bottom: var(--size-500);
  }
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

@media(min-width:50em){
  .fs-secondary-heading-lg-only {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
  }
}

/* general styling  */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  /* padding-bottom: var(--size-700); */
}

.container-sm-only {
  width: calc(100% - (var(--padding) * 2));
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* Button */
.button {
  cursor: pointer;
  border-radius: 100vh;
  padding: 0.75rem 1.75rem;
  border: none;
  background-color: var(--clr-accent-400);
  color: var(--clr-nuetral-100);
  box-shadow: none;
}

.button-glow {
  box-shadow: inset 0 0 2px hsl(12, 89%, 44%),
    0 0.5rem 16px var(--clr-accent-300);
}

.button:active,
.button:hover,
.button:focus-visible {
  outline: none;
  background-color: var(--clr-accent-300);
  box-shadow: 0 0.5rem 16px var(--clr-accent-300);
}

.button[data-type="inverted"] {
  background-color: var(--clr-nuetral-100);
  color: var(--clr-accent-400);
  box-shadow: inset 0 0 2px hsl(12, 89%, 44%), 0 0.5rem 16px hsl(12, 74%, 51%);
}

.button:active[data-type="inverted"],
.button:hover[data-type="inverted"],
.button:focus-visible[data-type="inverted"] {
  outline: none;
  color: var(--clr-accent-300);
}

.primary-header > div {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: space-between;
}

.primary-header {
  padding-block: var(--size-900);
}

@media (max-width: 50em) {
  .primary-header {
    position: relative;
    padding-block: var(--size-700);
  }
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  padding-inline: 1rem;
  text-decoration: none;
  color: var(--clr-primary-400);
  font-weight: var(--fw-bold);
}

.nav-list a:hover {
  color: var(--clr-nuetral-200);
}

.nav-toggle {
  display: none;
}

@media (max-width: 50em) {
  .sm-hidden {
    display: none;
  }

  .nav-overlay {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 1;
    display: block;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0.05),
      rgb(0, 0, 0, 0.9)
    );
  }

  .primary-navigation {
    position: fixed;
    inset: 8rem var(--size-300) 0;
    z-index: 2;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-nuetral-100);
    gap: var(--size-600);
    padding: var(--size-600);
    border-radius: var(--size-100);
    color: var(--clr-nuetral-900);
    font-weight: var(--fw-bold);
  }

  .nav-list a:hover {
    color: var(--clr-accent-300);
  }

  .nav-toggle {
    display: block;
    background: transparent;
    border: none;
    position: sticky;
  }

  .primary-navigation .nav-toggle {
    position: absolute;
    right: var(--size-200);
    top: -3rem;
  }
}

.form-control {
  border-radius: 100vh;
  padding-inline: var(--size-400);
  padding-block: var(--size-300);
  border: none;
}

.form-control:focus {
  outline: none;
}

.hidden {
  display: none;
}

/* components */

.cta {
  display: flex;
  position:relative;
  padding-block: var(--size-800);
}

.cta::before{
  content: 'fgvhgdfughvb';
  top: 0;
  background-image:url('./images/bg-tablet-pattern.svg');
  height: 20rem;
  width: 20rem;
  position: absolute;
  left: 2rem;
}

@media (max-width: 50em) {
  .cta {
    display: block;
    text-align: center;
    padding-block: var(--size-925);
  }
}

.carousel-container {
  text-align: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  gap: var(--size-500);
  margin-left: -15rem;
}

@media (max-width: 50em) {
  .carousel {
    display: block;
    overflow: auto;
    margin-left: 0;
  }
}

.carousel__card {
  width: 30rem;
  flex-shrink: 0;
}

@media (max-width: 50em) {
  .carousel__card {
    width: auto;
  }
}

.carousel__card__header {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  margin-bottom: var(--size-300);
}

.carousel__card__image {
  width: var(--size-800);
  margin-inline: auto;
  position: relative;
  top: calc(var(--size-800) / 2);
}

.carousel__card__body {
  background-color: var(--clr-nuetral-125);
  padding: var(--size-700) var(--size-600) var(--size-600);
}

@media (max-width: 50em) {
  .carousel__card__body {
    margin-inline: auto;
  }
}

.numbered-items {
  --counter_width: 4rem;
  counter-reset: count;
}

.numbered-items > *::before {
}

.numbered-items__title {
  /* background-color: var(--clr-accent-100); */
  display: flex;
  align-items: center;
}

.numbered-items__title::before {
  content: "0" counter(count);
  color: var(--clr-accent-100);
  counter-increment: count;
  display: inline-flex;
  justify-content: center;
  background-color: var(--clr-accent-400);
  padding: var(--size-200);
  border-radius: 20px;
  width: var(--counter_width);
  margin-right: var(--size-500);
}

.numbered-items__body {
  margin-left: calc(var(--counter_width) + var(--size-500));
}

@media (max-width: 50em) {
  .numbered-items__body {
    margin-left: 0;
  }
}

@media (max-width: 50em) {
  .numbered-items__title {
    display: flex;
    background-color: var(--clr-accent-100);
    align-items: center;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  .numbered-items__title::before {
    margin-right: var(--size-200);
  }
}

.hero {
  padding-block: var(--size-450);
}

.hero > *:first-child {
  padding-block: var(--size-800);
}

@media (max-width: 50em) {
  .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 0;
    padding-inline: var(--size-400);
    text-align: center;
  }

  .hero > *:first-child {
    order: 2;
    padding-block: 0;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 50em) {
  .footer-links {
    align-items: center;
  }
  .footer-links .social-links {
    order: 1;
  }
  .footer-links a {
    order: 2;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.newsletter-form {
  display: flex;
  gap: var(--size-200);
}

@media (max-width: 50em) {
  .newsletter {
    display: flex;
    justify-content: center;
    max-width: 25rem;
    margin-bottom: var(--size-800);
    margin-inline: auto;
    width: 100%;
  }
  .newsletter-form {
    gap: var(--size-200);
  }
  .newsletter-form input {
    flex-grow: 1;
  }
}

.secondary-nav-list {
  display: grid;
  row-gap: var(--size-300);
  grid-template-columns: repeat(2, auto);
}

@media (max-width: 50em) {
  .secondary-nav {
    text-align: center;
  }
  .secondary-nav-list {
    margin-bottom: var(--size-700);
  }
}

.secondary-nav-list a {
  text-decoration: none;
  color: var(--clr-nuetral-150);
  /* font-size: var(--fs-300) */
}

.social-links {
  display: flex;
  gap: var(--size-300);
}

@media (max-width: 50em) {
  .social-links {
    width: 100%;
    max-width: 25rem;
    justify-content: space-around;
    margin-bottom: var(--size-700);
  }
}

.social-links img {
  max-width: var(--size-600);
}

@media (max-width: 50em) {
  .social-links img {
    width: var(--size-600);
    max-width: var(--size-600);
  }
}

.footer {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  font-size: var(--fs-300);
  color: var(--clr-nuetral-200);
}

@media (max-width: 50em) {
  .footer-links {
    order: 3;
  }
  .newsletter {
    order: 1;
  }
  .secondary-nav {
    order: 2;
  }
  .footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
